asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.1
Django==3.1.5
idna==3.3
loguru==0.6.0
PySnooper==1.1.1
pytz==2022.2.1
requests==2.28.1
sqlparse==0.4.2
typing_extensions==4.3.0
urllib3==1.26.12
